<div class="container-fluid bg-black">

    <div class="container flex justify-between items-center">

        <div class="logo my1">
            <a href="#" class="logo__link">
                <img class="logo__img" src="assets/img/template/logo-optimized.png" alt="JacksOnLive Logo">
            </a>
        </div>

        <div class="flex items-center justify-end">
            <nav class="menu">
                <ul class="flex">
                    <li class="menu__li"><a class="menu__link" href="">Bolos</a></li>
                    <li class="menu__li"><a class="menu__link" href="">Festis</a></li>
                    <li class="menu__li"><a class="menu__link" href="">Giras</a></li>
                    <li class="menu__li"><a class="menu__link" href="">Bandas</a></li>
                    <li class="menu__li"><a class="menu__link" href="">Salas</a></li>
                </ul>
            </nav>

            <app-search></app-search>

            <div class="user ml3">
                <svg class="user__icon">
                    <use xlink:href="assets/svg/sprites.svg#icon-user"></use>
                </svg>
            </div>
        </div>
        
    </div>

</div>

<div class="container-fluid bg-grey top-border-222">
    <div class="container">
        <nav class="submenu">
            <ul class="submenu__list flex">
                <li class="submenu__li"><a class="submenu__link submenu__link-active" href="">Top</a></li>
                <li class="submenu__li"><a class="submenu__link" href="">Hoy</a></li>
                <li class="submenu__li"><a class="submenu__link" href="">Mañana</a></li>
                <li class="submenu__li"><a class="submenu__link" href="">7 dias</a></li>
            </ul>
        </nav>
    </div>
</div>