<div class="container-fluid bg-black">

    <div class="container">
        <nav class="menu">
            <ul>
                <li><a href="">Item 1</a></li>
                <li><a href="">Item 2</a></li>
                <li><a href="">Item 3</a></li>
                <li><a href="">Item 4</a></li>
            </ul>
        </nav>
    </div>

</div>

<div class="container-fluid bg-grey">
    <div class="container">
        <nav class="submenu">
            <ul>
                <li><a href="">Option 1</a></li>
                <li><a href="">Option 2</a></li>
                <li><a href="">Option 3</a></li>
            </ul>
        </nav>
    </div>
</div>