// Primary colors
$primary-yellow:        #fdca01;
$primary-black:         black;
$primary-danger:        orangered;
$primary-warning:       orange;
$primary-grey:          #333;
$default-font-color:    #333;

// Default widths in rems
// 1rem = 10px, 120rem = 1200px and so on...
$width-large:           120rem;
$width-medium:          80rem;
$width-small:           48rem;

// Default font sizes
$default-font-size: 1.2rem;